body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 242, 242);
    overflow-x: hidden;
}


#tabla-precios {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
}

@media (min-width: 576px) {
    .table {
        width: 48%; /* Ajusta el ancho para pantallas pequeñas */
    }

    .table#caracteristicas {
        position: relative;
        top: 35px;
    }
}

@media (min-width: 768px) {
    .table {
        width: 20%; /* Ajusta el ancho para pantallas medianas */
    }

    .table#caracteristicas {
        position: relative;
        top: 35px;
    }
}

@media (min-width: 992px) {
    .table {
        width: 18%; /* Ajusta el ancho para pantallas grandes */
    }

    .table#caracteristicas {
        position: relative;
        top: 35px;
    }
}


@media (min-width: 1200px) {
    .table {
        width: 16%; /* Ajusta el ancho para pantallas extra grandes */
    }

    /* .table#caracteristicas {
        position: relative;
        top: 38px;
    } */
}

a {
    text-decoration: underline ;
    color: #ffffff;
}

.planes:hover {
    box-shadow: 10px 0 10px 0 rgb( 0 0 0 / 30%);
    transform: scale(1.05);

}
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.55);
    text-align: center;
    padding: 20px;
  }

  .icon {
    background-color: #4a61dd; /* Color del fondo del icono */
    color: white;
    border-radius: 8px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 80px;
    height: 50px;
    line-height: 50px;
  }

  .card-text {
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
  }


ul {
    margin-top: 0;
    padding: 0;
}

.caracteristicas > ul > li {
    list-style: none;  
}

li.oscuro {
    background: rgb(216 216 216);
    display: flex;
    justify-content: center;
}

li.oscuroCaracteristicas {
    background: rgb(50 51 50);
    color: rgb(255 255 255)
}

li.claroCaracteristicas {
    background: rgb(77 77 76);
    color: rgb(255 255 255);
}


.imgPrecio {
    padding: 0 !important;
}

button#pro {
    display: flex;
    background-color: transparent;
    color: rgb(50 51 50);
    padding: 10px 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 2px;
    align-items: center;
}

span.shop {
    padding: 8px;
    font-size: x-large;
    margin-right: 8px;
}

.noticias {
    background: white;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
}

.whatsapp-btn {
    position: fixed; /* Permite que el botón se mantenga en su posición */
    bottom: 20px; /* Espaciado desde el fondo de la pantalla */
    right: 20px; /* Espaciado desde la derecha de la pantalla */
    background-color: #25d366; /* Color de WhatsApp */
    color: white;
    border-radius: 50%; /* Hace el botón redondo */
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    z-index: 1000; /* Se asegura de estar encima de otros elementos */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card {
    padding: 30px;
  }

  .card:hover {
    transform: scale(1.05);
  }