/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 242, 242);
    overflow-x: hidden;
}

a {
    text-decoration: underline;
    color: #ffffff;
}

ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}


nav#headerContent {
    background-color: #2d2c59 !important;
    color: white;
    border-radius: 100px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 0.4rem;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    position: fixed;
    inset: 0% 0% auto;
    z-index: 1000;
    min-height: 90px;
}

@media (max-width: 992px) {
    nav#headerContent {
        padding: 5px;
    }
}

nav#headerContent a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

nav#headerContent a:hover {
    color: #ffcc00;
}

nav#headerContent button {
    background-color: #ffcc00;
    color: #2d2c59;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;
    margin: 40px;
}

nav#headerContent > div:last-child > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}


div#navbarNav:active {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#navbarNav {
    justify-content: center;
}

section#pos-inteligente {
    background: radial-gradient(circle, #da7e41, #cac147);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

main#posIdeal {
    text-align: center;
    padding: 50px;
    background: -webkit-radial-gradient(circle, #ecdd9a, #cac3b7);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#videoDemo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;

}

div#infoPosInteligente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

@media (max-width: 992px) {
    div#infoPosInteligente {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}

div#infoPosInteligente > ul {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

/* Noticias Styles */
.noticias {
    background: #2d2c59;
    color: white;
    font-size: 18px;
    padding: 25px;
    margin: 15px;
    border-radius: 10px;
}

/* Whatsapp Button Styles */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Footer Styles */
footer {
    background: url('Img/footer.png') no-repeat center center;
}

/* Animation Styles */
.moving-image {
    animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fade-in-up.appear {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-up.delay-1 {
    transition-delay: 0.5s;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.slideInRight {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1.5s, transform 1.5s;
}

.slideInRight.appear {
    opacity: 1;
    transform: translateX(0);
}

.slideInRight.disappear {
    opacity: 0;
    transform: translateX(100%);
}

.slideInRight.delay-1 {
    transition-delay: 0.2s;
}

.slideInRight.delay-2 {
    transition-delay: 0.4s;
}

.slideInRight.delay-3 {
    transition-delay: 0.6s;
}

/* Subscription Plan Styles */
.planes {
    display: flex;
    gap: 20px;
    margin: 40px 0;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.plan {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:75vh;
}

@media (max-width: 768px) {
    .plan {
        margin-bottom: 20px;
    }

    .planes {
        flex-direction: column;
    }

    .recomendado {
        margin: 0 auto 20px;
    }
    
}

.plan:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
    transition: all 0.3s;
}

.plan h2 {
    font-size: 22px;
    margin: 10px 0;
}

.precio {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

ul {
    list-style: none;
    padding: 15px 0;
    text-align: left;
    font-size: 18px;
}

ul li {
    padding: 5px 0;
}

.recomendado {
    border: 2px solid #ffcc00;
    box-shadow: 0 6px 15px rgba(255, 204, 0, 0.4);
}

.etiqueta {
    background: #ffcc00;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Navbar Styles */
@media (max-width: 992px) {
    

    .nav-item {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {

    .moving-image {
        display: none;
    }
}

/* Slider Estilos */
.slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider .slide-track {
    display: flex;
    align-items: center;
    width: calc(200px * 10); /* Ajusta el ancho según el número de imágenes */
    animation: scroll 40s linear infinite;
}

.slider .slide {
    width: 200px;
    flex-shrink: 0;
}

.slider .slide img {
    width: 100%;
    padding: 20px;
}

.slider .slide img:hover {
    transform: scale(1.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 10)); /* Ajusta el valor según el número de imágenes */
    }
}


.carousel-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
}


.why-choose-us {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #f5bc1f, #f79708);
    color: white;
    min-height: 60vh;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature {
    background: white;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(20px);
    opacity: 0;
    animation: slideUp 1s ease-out forwards;
}

.feature i {
    font-size: 2rem;
    color: #ff7e5f;
    margin-bottom: 10px;
}

.feature:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.icono {
    font-size: 40px;
    margin-bottom: 10px;
}


/* Estilos de tarjetas de planes POS */

.business-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    min-height: 22vh;
    background: linear-gradient(135deg, #f5bc1f, #f79708);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.business-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}